body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 48px;
    padding-right: 48px;
    width: 100%
    height: 120px;
    background-color: yellow;
}
nav{

}
.nav_link{
    color: black;
    padding-left: 16x;
    padding-right: 16px;
}
.nav_link:hover{
    color: gray;
}
.nav_btn{
    width: 132px;
    height: 48px;
    color: white;
    background-color: black;

    border-radius: 12px

}
.nav_btn:hover{

    color: black;
    background-color: white;


}


a{
    text-decoration: none
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
iframe{
    width: 1024px;
    height: 800px;
}
@media screen and (max-width: 980px) {
    iframe{
        width: 640px;
        height: 800px;
    }
}